{% extends "base.html" %}
{% block title%}STRONA GŁÓWNA{% endblock %}
{% block content %}
        <header>
        
        
            <p id="strona">STRONA GŁÓWNA</p>
        </header>
        <body>
            <form method="POST" action=""> 
                    <input list="nazwaa" name="nazwa" id="essa" placeholder="Wybierz">
                    <datalist id="nazwaa">
                    <option value="OŚMIORNICZKA">
                    <option value="DUŻA OŚMIORNICZKA">
                    <option value="KRÓLICZEK">
                    <option value="ŻÓŁWIK">
                    <option value="AXOLOTL">
                    <option value="DINOZAUR">
                    <option value="WIELORYB">
                    </datalist> 
                    <br>
                 <input type="number" name="cena" placeholder="Cena" />
                <br>
                    <input type="number" name="ilosc" placeholder="Ilość" />
                <br>
                    <input type="number" name="kasaplus" placeholder="Pieniądze dodane" />
                <br>
                    <input type="number" name="kasaminus" placeholder="Pieniądze odjęte" />
                <br>
                <input type="submit">
                <button type="button" onclick="window.location.href='{{ url_for( 'info' ) }}';" name="buttreg">Informacje</button>

               
            </form>

        
                
            </body> 

{% endblock %}  