{% extends "base.html" %}
{% block title%}REGISTER{% endblock %}
{% block content %}
        
        <form method="POST" action=""> 
            <h1>Login</h1>
             <input type="text" name="name" placeholder="Login" />
            <br>
             <input type="email" name="email" placeholder="E-Mail" />
            <br>
             <input type="password" name="password" placeholder="Password" />
            <br>
             <input type="number" name="age" placeholder="Age" />
            <br>
            <input type="submit">
        </form>
{% endblock %}  